= form_for ([ :recipe, @comment]), html: { class: "form form-horizontal comment" } do |f|
  .form-group
    = f.label :name, class: 'control-label'
    .controls
      = f.text_field :name, class: 'form-control', required: true
    / = error_span(@comment[:name])
  .form-group
    = f.label :text, class: 'control-label'
    .controls
      = f.text_field :text, class: 'form-control', required: true
    / = error_span(@comment[:text])
  = f.submit nil,class: 'btn btn-primary'
  = link_to t('.cancel', :default => t("helpers.links.cancel")), recipes_path, :class => 'btn btn-default'
