%h1 Listing recipes

%table
  %thead
    %tr
      %th Namerecipe
      %th Author
      %th Category
      %th Ingredients
      %th
      %th
      %th

  %tbody
    - @recipes.each do |recipe|
      %tr
        %td= recipe.namerecipe
        %td= recipe.author
        %td= recipe.category
        %td= recipe.ingredients
        %td= link_to 'Show', recipe
        %td= link_to 'Edit', edit_recipe_path(recipe)
        %td= link_to 'Destroy', recipe, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Recipe', new_recipe_path
